.photos-list { 
	 display: grid;
	 grid-template-columns: auto auto auto auto auto ;
}
.item {
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 2px;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
}
.item:hover {
	transform: translate(0, -2px);
	border-color: black;
	transition: transform 200ms ease;
}
.item h4 {
	text-align: center;
	word-wrap: break-word;
}
.item img {
	width: 180px;
	height: 180px;
}

@media screen and (max-width: 500px) {
	.photos-list {
		grid-template-columns: auto auto;
	}
}